<!DOCTYPE html>
<html>
<head>

  <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
  <meta charset="utf-8"/>
  <title>Aqroo Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style.css">

</head>

<body>

<header>
    <div class="title-container">
        <span class="title">Aqroo</span>
        <img src="/kangaroo-colour.svg" class="header-logo" alt="Cartoon kangaroo logo">
        <a href="/profile" class= "profile-logo-container">
            <img src="/user.svg" class="profile-logo" alt="Cartoon picture of user">
        </a>
    </div>
    <nav>

        <a href="/dashboard" class="nav-icon-container">
            <div class="dashboard-circle"> 
                <img src="/dashboard-colour.svg" class="layout-logo" alt="Dashboard logo">
            </div>
            <span class="nav-title">Dashboard</span>
        </a>

        <a href="/transactions" class="nav-icon-container">
            <div class="all-transactions-circle"> 
                <img src="/all-transactions.svg" class="layout-logo" alt="Transactions logo">
            </div>
            <span class="nav-title">Transactions</span>
        </a>
        
       
        <a href="/transactions/new" class="nav-icon-container">
            <div class="new-transaction-circle"> 
                <img src="/add.svg" class="layout-logo" alt="Add logo">
            </div>
            <span class="nav-title">New transaction</span>
        </a>

    </nav>


</header>

<div class="main">
    <%=yield%>
</div>

</body>
</html>