
:root {
    --main-bg-color: #54ffff40;
    --circle-width: 12vw;}

@media screen and (min-width: 800px){

    header { width: 800px;}

    .title {font-size: 65px;}

    :root { --circle-width: 95px;}

    .main {width: 700px;}

    .title-container{height: 110px;}

    .profile-logo-container {width: 55px; height: 55px;}
    
    .nav-title {font-size: 15px; }

    nav {height: 160px;}

}

@media screen and (max-width: 800px){

    .title{font-size:8vw;}
    .main {width: 100%;}
    .title-container{height: 14vw;}
    .profile-logo-container {width: 6vw; height: 6vw;}
    .nav-title {font-size:2vw; }
    nav {height: 20vw;}
}
  
  body {
    font-family: 'Noto Serif', serif;
    background-color: var(--main-bg-color);
    color: #3c3c3c;
  }


  header{

    width: 100%;
    padding-top: 20px;
    margin: 0 auto 0 auto;
    left: 0;
    right: 0;
    max-width: 800px;
    display: flex;
    flex-direction: column;
  }

   
       
        
        
        
  


  /**************************************
  TITLE STYLE
  ***************************************/
.title-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

.header-logo{
    width: auto;
    height: 100%;
  
}

.title{
    
}

.profile-logo-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    box-shadow: .1rem .40rem .45rem 0 rgba(100,110,140,.4);
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    background: #ffd8f1;
    border: 4px solid #936578;
   
}
.profile-logo{
    width: 80%;
    height: 80%;

}
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 4vw;
}

.nav-icon-container{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: inherit;
    text-decoration: none;

}

.dashboard-circle{
    width:var(--circle-width);
    height:var(--circle-width);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #4E8098;
    border-radius:50%;
    box-shadow:  .1rem .40rem .45rem 0 rgba(100,110,140,.4);
}

.all-transactions-circle{
    width:var(--circle-width);
    height:var(--circle-width);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #E27396;
    border-radius:50%;
    box-shadow:  .1rem .40rem .45rem 0 rgba(100,110,140,.4);
}

.new-transaction-circle{
    width:var(--circle-width);
    height: var(--circle-width);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #FEE440;
    border-radius:50%;
    box-shadow:  .1rem .40rem .45rem 0 rgba(100,110,140,.4);
}

.layout-logo {
    width:auto;
    height: 70%;
  /* filter: invert(16%) sepia(4%) saturate(1056%) hue-rotate(151deg) brightness(100%) contrast(87%); */

}



.nav-title {
    margin-top: 5px;
    
}

.main {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


  /**************************************
  Graphs STYLE
  ***************************************/

.dash_module {width: 80%;
         height: 150px;
         background-color: #EAF2D7;
         border-radius: 25px;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         display: flex;
         box-shadow:  .1rem .40rem .45rem 0 rgba(100,110,140,.4);
         margin-top: 20px;
        }

.dash_module-line {
        width: 80%;
         height: 200px;
         background-color: #EAF2D7;
         border-radius: 25px;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         display: flex;
         box-shadow:  .1rem .40rem .45rem 0 rgba(100,110,140,.4);
         margin-top: 20px;

}

.bar-last {
    fill: #aaa;
    height: 21px;
    transition: fill .3s ease;
    
    text {
      /* fill: #555; */
    }
  }

  .bar-this {
    fill: #E27396;
    height: 21px;
    transition: fill .3s ease;
    
    text {
      /* fill: #555; */
    }
  }


  .bar-scale {
    fill: #4e8098;;
    height: 21px;
    transition: fill .3s ease;
    
  }
  
 
  
  figcaption {
    font-weight: bold;
    margin-bottom: 20px;
  }
figure {margin: 0px; width: 80%; height: 75%}

.chart {
  width: 100%;
  height: 100%;
  border-left: 4px solid #4e8098;
  border-bottom: solid 4px #4e8098;
  padding: 0px 0px 00px 0;
  box-sizing: border-box;
}

.line-graph-fig {
  margin-bottom: 0px;
}


.bar-chart {
  width: 100%;
  height: 100%;
}


 /**************************************
  TRANSACTIONS STYLE
  ***************************************/

  .transactions-wrapper {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;  
    box-sizing: border-box;
  }

  .transaction_date{
    width: 30%;
    background: #ffee81;
    text-align: center;
    color: #3d718a;
    box-shadow: .1rem .20rem .25rem 0 rgba(100,110,140,.2);
    margin-bottom: 2px;
    margin-top: 5px;
    border-radius: 5px;
  }

  .transaction-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    background-color: #44B5D0;
    box-sizing: border-box;
    margin-top: 5px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 6px;
    color: white;
    
  }

  .transactions-col-1 {
    width: 70%; 
    box-sizing: content-box;
  }

  .transactions-col-2 {
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    box-shadow: .1rem .40rem .45rem 0 rgba(100,110,140,.4);
    background: #ff30b3;
  }


  .transactions-col-3 {
    width: 20%;
    
  }

  .transaction-list-icon {
    height: 70%;
    width: auto;
  }

  .transaction_date{
    font-size: 20px;
  }