
:root {
    --main-bg-color: #54ffff40;
    --circle-width: 12vw;}

@media screen and (min-width: 800px){

    header { width: 800px;}

    .title {font-size: 65px;}

    :root { --circle-width: 95px;}

    .main {width: 700px;}

    .title-container{height: 110px;}

    .profile-logo-container {width: 68px; height: 68px;}
    
    .nav-title {font-size: 15px; }

    nav {height: 160px;}

    .category-image-container-picker {height: 72px; width: 72px;}

}

@media screen and (max-width: 800px){

    .title{font-size:8vw;}
    .main {width: 100%;}
    .title-container{height: 14vw;}
    .profile-logo-container {width: 8vw; height: 8vw;}
    .nav-title {font-size:2vw; }
    nav {height: 20vw;}
    .category-image-container-picker {height: 8vw; width: 8vw;}
}
  
  body {
    font-family: 'Noto Serif', serif;
    background-color: var(--main-bg-color);
    color: #3c3c3c;
  }


  header{

    width: 100%;
    padding-top: 20px;
    margin: 0 auto 0 auto;
    left: 0;
    right: 0;
    max-width: 800px;
    display: flex;
    flex-direction: column;
  }


  /**************************************
  TITLE STYLE
  ***************************************/
.title-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

.header-logo{
    width: auto;
    height: 100%;
  
}

.title{
    
}

.profile-logo-container{
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  border-radius: 50%;
  box-shadow: .1rem .40rem .45rem 0 rgba(100,110,140,.4);
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  background: #fffbfe;
  border: 2px solid #936578;
  overflow: hidden;
   
}
.profile-logo{
    width: 85%;
    height: 85%;

}
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 4vw;
}

.nav-icon-container{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.dashboard-circle{
    width:var(--circle-width);
    height:var(--circle-width);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #4E8098;
    border-radius:50%;
    box-shadow:  .1rem .40rem .45rem 0 rgba(100,110,140,.4);
}

.all-transactions-circle{
    width:var(--circle-width);
    height:var(--circle-width);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #E27396;
    border-radius:50%;
    box-shadow:  .1rem .40rem .45rem 0 rgba(100,110,140,.4);
}

.new-transaction-circle{
    width:var(--circle-width);
    height: var(--circle-width);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #FEE440;
    border-radius:50%;
    box-shadow:  .1rem .40rem .45rem 0 rgba(100,110,140,.4);
}

.layout-logo {
    width:auto;
    height: 70%;
}

.nav-title {
    margin-top: 5px;  
}

.main {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 1000px;
}

  /**************************************
  Graphs STYLE
  ***************************************/

.dashboard-header {
  border-bottom: 8px solid #25C4BD;
  color: #3b6173;
  font-size: calc(10px + 2vw);
  margin-bottom: 20px;
  align-self: flex-start;
}


.dash_module {width: 100%;
         height: 150px;
         background-color: #FDFFF6;
         border-radius: 25px;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         display: flex;
         box-shadow:  .1rem .40rem .45rem 0 rgba(100,110,140,.4);
         margin-top: 20px;
        }

.dash_module-line {
        width: 100%;
         height: 200px;
         background-color: #FDFFF6;
         border-radius: 25px;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         display: flex;
         box-shadow:  .1rem .40rem .45rem 0 rgba(100,110,140,.4);
         margin-top: 20px;

}

.dash_module-stats {
        width: 100%;
        height: 200px;
        background-color: #FDFFF6;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        box-shadow:  .1rem .40rem .45rem 0 rgba(100,110,140,.4);
        margin-top: 20px;
        padding: 20px;
        box-sizing: border-box;

}

.bar-last {
    fill: #aaa;
    height: 21px;
    transition: fill .3s ease;
    
    text {
      /* fill: #555; */
    }
  }

  .bar-this {
    fill: #E27396;
    height: 21px;
    transition: fill .3s ease;
    
    text {
      /* fill: #555; */
    }
  }


  .bar-scale {
    fill: #4e8098;;
    height: 21px;
    transition: fill .3s ease;
    
  }
  
 .dash-module-stats-box{
    width: 49%;
    height: 49%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
 }
  
  figcaption {
    font-weight: bold;
    margin-bottom: 20px;
    color: #646464;
  }
figure {margin: 0px; width: 80%; height: 75%}

.chart {
  width: 100%;
  height: 100%;
  border-left: 4px solid #4e8098;
  border-bottom: solid 4px #4e8098;
  padding: 0px 0px 00px 0;
  box-sizing: border-box;
}

.line-graph-fig {
  margin-bottom: 0px;
}


.bar-chart {
  width: 100%;
  height: 100%;
}

.stats-box-title {
  border-bottom: 5px solid #fee440;
  color: #4e8098;
}

.stats-box-stat {
  color: #e27396;
}


 /**************************************
  NEW TRANSACTION FORM STYLE
  ***************************************/
.new-transaction-header {
  border-bottom: 8px solid #FEE440;
  color: #3b6173;
  font-size: calc(10px + 2vw);
  margin-bottom: 20px;
  align-self: flex-start;
}


input[type=text] {
  padding:10px;
  border-radius:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  width: 100%;
  box-sizing:border-box;
  margin: auto;
  font-size: 18px;
  font: inherit
}
input[type=number] {
  padding:10px;
  border-radius:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  width: 100%;
  box-sizing:border-box;
  font-size: 18px;
  font: inherit;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=submit] {
  padding:10px;
  border-radius:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  width: 100%;
  box-sizing:border-box;
  background: #fee440;
  font-size: 18px;
  font-weight: bold;
  font: inherit;
  cursor:pointer;

}

input[type=date] {
  padding:10px;
  border-radius:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  width: 100%;
  box-sizing:border-box;
  font-size: 18px;
  font: inherit
}

form{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width:100%;

}

.form-amount{
  width: 100%;
  margin-bottom: 20px;
}

.form-date{
  width: 100%;
  margin-bottom: 10px;
}

.form-merchant{
  width: 100%;
  margin-bottom: 20px;
}

.form-categories-container{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
}

.category-container-picker{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;


}
.category-image-container-picker {
 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  box-shadow: .1rem .40rem .45rem 0 rgba(100,110,140,.4);
  background: #ff30b3;
  margin-bottom: 5px;
}

.labl {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 33%;
  height: 120px;
}
.labl > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.labl > input + div{ /* DIV STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
  
  border: 5px solid #ff9090;
  border-radius: 10px;
  box-sizing: border-box;
}

.form-new{
  width: 100%;
}
 /**************************************
  TRANSACTIONS STYLE
  ***************************************/

  .transactions-header {
    border-bottom: 8px solid #e27396;
    color: #3b6173;
    font-size: calc(10px + 2vw);
    margin-bottom: 20px;
  }
  
  .transactions-wrapper {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;  
    box-sizing: border-box;
  }

  .transaction_date{
    width: 30%;
    background: #ffee81;
    text-align: center;
    color: #3d718a;
    box-shadow: .1rem .20rem .25rem 0 rgba(100,110,140,.2);
    margin-bottom: 2px;
    margin-top: 5px;
    border-radius: 5px;
  }

  .transaction-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    background-color: #44B5D0;
    box-sizing: border-box;
    margin-top: 5px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 6px;
    color: white;
    
  }

  .transactions-col-1 {
    width: 70%; 
    box-sizing: content-box;
  }

  .transactions-col-2 {
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    box-shadow: .1rem .40rem .45rem 0 rgba(100,110,140,.4);
    background: #ff30b3;
  }


  .transactions-col-3 {
    width: 20%;
    
  }

  .transaction-list-icon {
    height: 70%;
    width: auto;
  }

  .transaction_date{
    font-size: 20px;
  }

  .transactions-header-wrapper{
    flex-direction: row;
    align-items: baseline;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .transactions-header-filter-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .filter-transaction-form{
    flex-direction: row;
  }
  
.minimal{
  padding:6px;
  border-radius:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  width: 100%;
  box-sizing:border-box;
  font-size: 18px;
  font-weight: bold;
  font: inherit;
  cursor:pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: #ffee81;
  text-align: center;
  color: #3d718a;
  margin-left: 5px;
  }

  .filter-submit{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    box-shadow: .1rem .40rem .45rem 0 rgba(100,110,140,.4);
    background: #f9c6e6;
    height:37px;
    width: 37px;
    flex-shrink: 0;
    margin-left: 5px;

  }

 